# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# osx
.DS_Store

# emacs
projectile.cache
.emacs.d/.custom.el
.emacs.d/.lsp-session-v1
.emacs.d/backup
.emacs.d/auto-save-list
