git push --set-upstream origin emacs27-custoVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
/newsticker
\#*
/elpa
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/anaconda-mode/
/.historian
/.uptimes.el
/rake.cache
/plantuml.jar
/magithub
.cache/
/forge-database.sqlite
/transient
/places
/.custom.el
/.lsp-session-v1
/backup
/auto-save-list
/bookmarks
/chatgpt
/elpa*
/org-roam.db
/projects
/quelpa
/request
/straight
